<div class="container-fluid col-md-6 justify-content-center">



<form action='' method='POST' class="">
    <h3 class="mt-3">{{title}}</h3>
    <div class="form-group">
        <h5><label for="varietyName" class="mt-3">Variety Name</label></h5>
        <input type="text" 
        name="varietyName" 
        class="form-control mb-0" 
        placeholder="ex. Pinot Noir" 
        value="{{this.varietyName.varietyName}}">
    </div>
    {{#each errors}}

    <p class="text-danger mt-0">{{this.msg}}</p>
    {{/each}}
    <input type="submit" value="Add Variety" class="btn btn-outline-primary btn-sm">
</form>
</div>