<div class="container">
    <h1 class="mt-2">{{title}}</h1>
    <div >{{#each varieties_list}}
        <ul class="list-group mt-3 col-md-6">
            <li class="list-group-item">
                <h3>{{this.varietyName}}</h3>
                <a href="/catalog/variety/{{this.varietyName}}"><button class="btn btn-outline-primary btn-sm mt-3">Wines</button></a>
                
                </li>
        </ul>


        {{/each}}
    </div>
</div>