body {
  padding: 10px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: #dae3ea;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%233498eb' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");}

  
a {
  color: #007eb0;
}


.navbar-brand {
  font-size: 24px;
}
.navbar{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
